body {
  background-color: white;
  font-family: Helvetica, Arial, sans-serif;
}

section {
  padding-top: 80px;
}

header nav {
  float: right;
}
/*header section*/
header {
  color: #3d3935;
  margin-left: 0px;
  padding: 20px;
  background-color: #3d3935;
}

header h1 {
  display: inline-block;
  font-size: 32px;
}

.profile-picture {
  float: left;
  width: 75px;
  height: 75px;
  margin-right: 20px;
  border-radius: 50%;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
}

li {
  float: right;
}

a {
  display: block;
  padding: 8px;
  background-color: #3d3935;
  color: white;
}

/* Hero image with text*/
.hero-image {
  background-image: linear-gradient(rgba (0,0,0,0.5), rgba(0,0,0.5));
  height: auto;
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-right: 20px;
  padding-bottom: 0%;
}

.outdoor-image {
  width: 100%;
  height: 500px;
  padding-right: 0px;
  background-image: url(/Users/boyd/Documents/Bootcamp/codingbootcamp/challenges/Boyds-React-Portfolio/boyds-react-portfolio/src/assets/Michigan-Banner-3.png);
  background-size: cover;
  background-position: center;
}

.hero-text {
  color: white; 
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  align-content: center;
  position: absolute;
  top: 50%;
  transform: translate (-50%, -50%);
  padding-left: 45%;
  text-shadow: #3d3935 1px 0 10px;

}

/* Page wrapper for main sections*/
.page-wrapper {
  margin-right: auto;
  margin-left: auto;
  max-width: 960px;
  padding-right: 10px;
  padding-left: 10px;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}
.paragraph-section {
  display: flex; 
  justify-content: center; 
}

.about {
  text-align: start;
  height: auto;
  width: fit-content;
  padding: 100px;
  align-content: center;
}

.about-styling {
  border-right: solid;
  margin-top: 10px;
}

.paragraph-content {
  text-align: left;
  margin-right: auto;
  padding: 10px;
  height: auto;
  width: fit-content;
  justify-content: right;
  align-content: center;
}

.aboutString{
  margin-right: 5px;
}

/*add flex box container for sections*/
.flexbox-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  gap: 10px 20px;
  row-gap: 10px;
  column-gap: 10px;
  flex-direction: row;
  padding: 10px;
  
}
.gallery {
  max-width: 65%;
}

.flexbox-container h2 {
  width: 100px;
}
.flexbox-container h2 {
  width: 100px;
}
/*added gallery class to group images together inside the flexbox container*/
.gallery-section {
  display: flex; 
  justify-content: center;
  padding-left: 10px;
}

.gallery img {
  display: flex;
  max-width: 100%;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}

.work-styling {
  border-right: solid;
  height: 500px;
  padding-right: 10px;
  padding-top: 250px;
}

.img-styling {
  height: 100%;
}

.gallery ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  padding-left: 30px;
}

.gallery li {
  margin: 0 10px;
  width: 40%;
}

* {
  box-sizing: border-box;
}
.footer-section {
  display: flex; 
  justify-content: center; 
}
.footer-section-styling {
  border-right: solid;
  margin-top: 10px;
}

.footer-section ul {
  display:block;
  justify-content: right;
  margin-right: auto;
  margin-left: 0px;
  text-align: left;
  align-items: center;
  list-style: none;
  padding: 0px;
  height: auto;
  width: fit-content;
}

.contact-sectiion li {
  text-align: start;
  float: right;
  justify-content: center;
  margin-right: auto;
}

.contact-section a {
  display: inline-block;
  padding: 20px;
  background-color: white;
  color: #3d3935;

}

.contact-form-container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #3d3935;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: steelblue;
}

/*mouse over link*/
a:hover {
  background: steelblue;
}

/* Added media queries for smaller screens*/

@media only screen and (max-width: 768px) {
  img src .profile-picture {
      flex-basis: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .hero-image {
      flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .outdoor-image {
      flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .container {
      flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-section {
      flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .gallery img {
      flex-basis: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .img-styling {
      flex-basis: 100%;
  }
}